In [9]:
import pandas as pd

loans = pd.read_csv('loans.csv', header = None)
loans

    0             1   2     3        4
0   1    industrial  34  2.96   repaid
1   2  professional  41  4.64  default
2   3  professional  36  3.22  default
3   4  professional  41  3.11  default
4   5    industrial  48  3.80  default
5   6    industrial  61  2.52   repaid
6   7  professional  37  1.50   repaid
7   8  professional  40  1.93   repaid
8   9    industrial  33  5.25  default
9  10    industrial  32  4.15  default

In [10]:
# Q1
loans.columns = ['id', 'occupation', 'age', 'loan-to-salary', 'outcome']
loans['age']

0    34
1    41
2    36
3    41
4    48
5    61
6    37
7    40
8    33
9    32
Name: age, dtype: int64

In [21]:
# Q2
loans = loans.astype({'id':str})
loans.dtypes

id                 object
occupation         object
age                 int64
loan-to-salary    float64
outcome            object
dtype: object

In [24]:
# Q3
loans.head()
#  ------ Slice -----
loans[1:4]

  id    occupation  age  loan-to-salary  outcome
1  2  professional   41            4.64  default
2  3  professional   36            3.22  default
3  4  professional   41            3.11  default

In [56]:
# Q4_I.- Identify the list of top wines (wines with score at least 99)
winemag = pd.read_csv('winemag-data-130k-v2.csv', header = 0)
winemag[winemag.points >= 99]

In [68]:
# Q4_II.- Identify the price of the most expensive wine on the list of of top wines
winemag[winemag.points >= 99]
winemag.title[winemag.price.idxmax()]

'Château les Ormes Sorbet 2013  Médoc'

In [76]:
# Q4_III.- Print the details (rows of data) for the most expensive top wine(s)
winemag[winemag.points >= 99]
winemag.loc[winemag.price.idxmax()]

Unnamed: 0                                                           80290
country                                                             France
description              This ripe wine shows plenty of blackberry frui...
designation                                                            NaN
points                                                                  88
price                                                               3300.0
province                                                          Bordeaux
region_1                                                             Médoc
region_2                                                               NaN
taster_name                                                     Roger Voss
taster_twitter_handle                                           @vossroger
title                                 Château les Ormes Sorbet 2013  Médoc
variety                                           Bordeaux-style Red Blend
winery                                            Château les Ormes Sorbet
Name: 80290, dtype: object

In [84]:
# Q4_IV.- Filter the wines that contain “cherry” in the description
winemag.loc[winemag['description'].str.contains('cherry')]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
12,12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini
17,17,Argentina,Raw black-cherry aromas are direct and simple ...,Winemaker Selection,87,13.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Gaucho Andino 2011 Winemaker Selection Malbec ...,Malbec,Gaucho Andino
19,19,US,"Red fruit aromas pervade on the nose, with cig...",NaN,87,32.0,Virginia,Virginia,NaN,Alexander Peartree,NaN,Quiévremont 2012 Meritage (Virginia),Meritage,Quiévremont
24,24,Italy,"Aromas of prune, blackcurrant, toast and oak c...",Aynat,87,35.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Canicattì 2009 Aynat Nero d'Avola (Sicilia),Nero d'Avola,Canicattì
27,27,Italy,"Aromas recall ripe dark berry, toast and a whi...",NaN,87,10.0,Sicily & Sardinia,Terre Siciliane,NaN,Kerin O’Keefe,@kerinokeefe,Stemmari 2013 Nero d'Avola (Terre Siciliane),Nero d'Avola,Stemmari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129960,129960,Portugal,"Fresh and fruity, this is full of red cherry f...",Vértice,90,48.0,Douro,NaN,NaN,Roger Voss,@vossroger,Caves Transmontanas 2006 Vértice Pinot Noir (D...,Pinot Noir,Caves Transmontanas
129961,129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano
129963,129963,Israel,"A bouquet of black cherry, tart cranberry and ...",Oak Aged,90,20.0,Galilee,NaN,NaN,Mike DeSimone,@worldwineguys,Dalton 2012 Oak Aged Cabernet Sauvignon (Galilee),Cabernet Sauvignon,Dalton
129967,129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation