In [1]:
import sqlite3 as sql 
import pandas as pd

conn = sql.connect('bikes.db')
cursor = conn.cursor()

Selection

In [7]:
pd.read_sql_query("SELECT * FROM bike", conn)

DatabaseError: Execution failed on sql 'SELECT * FROM bike': no such table: bike

Projection

In [ ]:
pd.read_sql_query("SELECT DISTINCT station_id, time, last_updated FROM bike ORDER BY time LIMIT 5", conn)